.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #333; Example background color */
    /* color: white; Example text color */
    padding: 10px 20px; /* Example padding */
  }
  
  .navbar-title {
    margin: 0; 
    font-size:x-large;
    font-style: oblique;
    text-shadow: 2px 1px #ffdff5;
    background-color: #ffdff5;
    border-radius: 50%;
  }
  
  .pages {
    display: flex;
  }
  
  .link {
    font-style: oblique;
    font-size:large;
    margin-left: 20px; /* Adjust as needed */
    color: rgb(3, 3, 3); /* Example text color */
    text-decoration: none; /* Remove default underline */
    justify-content: space-between;
  }

  .link:hover {
    background-color: #ffdff5; /* Hover background color */
    border-radius: 50%;
    width: max-content;
  }

  .ui-centered-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    gap: 20px; /* Gap between cards */
    

  }
  .news-card {
    border: 2px solid #0c0c0c; /* Outline border */
    box-shadow: 3px 3px #ffdff5;
    padding: 10px; /* Adjust padding */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between; /* Distribute space evenly between children */
  }

  
  .img {
    width: 100%; /* Ensure the image container takes full width */
    height: 350px; /* Adjust the height of the image container */
    overflow: hidden; /* Hide any overflow content */
  }
  
  .img img {
    width: 100%; /* Make sure the image takes full width of its container */
    height: 100%; /* Make sure the image takes full height of its container */
    object-fit: cover; /* Resize the image to cover its container while preserving its aspect ratio */
  }
  
  .content {
    text-align: center; /* Center align content */
  }
  
  .title {
    font-weight: bold; /*Make title bold*/
    margin-bottom: 10px; 
  }
  .linktext {
    text-decoration: none;
    color: #070707;
  }
  .button {
    background-color: none; /* Button background color */
    color: #070707; /* Button text color */
    font-weight: 500;
    border: 1px solid #090808;
    padding: 10px 20px;
    /* border-radius: 5px; */
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 5px;
  }

  .button:hover {
    background-color: #ffdff5; /* Hover background color */
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  .item {
    padding-bottom: 15px;
  }

 